.main-section {
  display: flex;
  align-items: start;
  padding-bottom: 20px;
  flex-direction: column;
  border-bottom: solid 2px rgb(42, 143, 194);
  width: fit-content;
  margin: 0 auto; /* This centers the element horizontally */
}

.status p {
  display: inline;
}

.failed-status {
  color: rgb(194, 10, 10);
}

.success-status {
  color: rgb(15, 187, 18);
}

.main-container > h2 {
  text-align: center;
  text-decoration: underline;
}

.response-section code {
  margin-top: 10px;
  font-size: 16px;
  display: flex;
  border: solid 0.5px;
  background-color: rgb(220, 212, 212);
  padding: 20px;
  width: 560px;
  word-wrap: break-word;
  word-break: break-word;
  overflow: scroll;
  max-height: 200px;
}

.body-section {
  width: 600px;
}

.url-input {
  width: 500px;
  font-size: 16px;
  height: 39px;
}

.url-input-button {
  background-image: linear-gradient(-180deg, #37aee2 0%, #1e96c8 100%);
  border-radius: 0.5rem;
  color: #ffffff;
  padding: 1rem 1.75rem;
  border: 0;
  cursor: pointer;
  margin-left: 20px;
}

h1 {
  padding: 1 auto; /* This centers the element horizontally */
  text-align: center;
  text-decoration: underline;
  font-family: monospace;
}

h2,
h3,
button,
input {
  font-family: monospace;
}
